/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * itc-avant-garde-gothic-pro:
 *   - http://typekit.com/eulas/00000000000000007735ba14
 *   - http://typekit.com/eulas/00000000000000007735ba1d
 *   - http://typekit.com/eulas/00000000000000007735ba1e
 *
 * © 2009-2023 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-11-16 21:06:36 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=ifa2qhp&ht=tk&f=39347.39348.39349&a=42529487&app=typekit&e=css");

@font-face {
font-family:"itc-avant-garde-gothic-pro";
src:url("https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/578a9d/00000000000000007735ba14/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"itc-avant-garde-gothic-pro";
src:url("https://use.typekit.net/af/b89a53/00000000000000007735ba1d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/b89a53/00000000000000007735ba1d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/b89a53/00000000000000007735ba1d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
font-family:"itc-avant-garde-gothic-pro";
src:url("https://use.typekit.net/af/6161d4/00000000000000007735ba1e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/6161d4/00000000000000007735ba1e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/6161d4/00000000000000007735ba1e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

.tk-itc-avant-garde-gothic-pro { font-family: "itc-avant-garde-gothic-pro",sans-serif; }


body{
background-image: url(/src/assets/bg.png);  
  background-size: cover; /* Resize the background image to cover the entire container */


  display: flex;
  justify-content: center;
  align-items: center;

  color: #E7F2EE;
  font-family: "itc-avant-garde-gothic-pro";
  font-size: 16pt;
  font-weight: 500;
  min-height: 900px;

    
}

p{
  margin: 4px;
  line-height: 20px;
}

.Main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap:20px;
  min-width: 500px;

  border-radius: 20px;
  background: rgba(231, 242, 238, 0.10);
  box-shadow: 0px 4px 20px 0px rgba(27, 38, 35, 0.10);
  backdrop-filter: blur(50px);
}

.App-logo {
  align-self: center;
  height: 84px;
}


form{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;

  margin-top: 30px;
}

.field{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: rgba(231, 242, 238, 0.10);
  box-shadow: 0px 4px 20px 0px rgba(27, 38, 35, 0.10);
  backdrop-filter: blur(50px);
  width: 500px;
  min-height: 20px;
  padding: 8px 15px;

  border: none;
    color: #E7F2EE;
  font-family: "itc-avant-garde-gothic-pro";
  font-size: 13pt;
  font-weight: 500;
  text-align: left;

  cursor: pointer;

  display: flex;
  justify-content:space-between;
  align-items: center;

}

.dropdown-menu {
  position: absolute;
  z-index: 9999; 
  border-radius: 20px;
  background: rgba(30, 34, 33, 0.9);
  box-shadow: 0px 4px 20px 0px rgba(27, 38, 35, 0.10);
  padding: 8px 15px;
    backdrop-filter: blur(5px);


  border: none;
    color: #E7F2EE;
  font-family: "itc-avant-garde-gothic-pro";
  font-size: 13pt;
  font-weight: 500;
  text-align: left;
  
  /* Set a fixed height for the dropdown and enable vertical scrollbar */
  height: 200px; /* Set your desired fixed height */
  overflow-y: auto;

    opacity: 0;
    max-height: 0;
    transform: translateY(-30px);
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease, max-height 0.5s ease;

}

.dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  max-height: 500px;  /* Set default values for transition properties */
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease, max-height 0.5s ease;

}


.input-empty{
  background: none;
  border: none; 
  width: 455px;
   border: none;
    color: #E7F2EE;
  font-family: "itc-avant-garde-gothic-pro";
  font-size: 13pt;
  font-weight: 500;
  text-align: left;
}
.input-empty:focus {
  outline: none;
}

.list{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
align-items: flex-start;
flex-wrap: wrap;
  max-width: 500px;
  min-height: 0px;
}

.list-item {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: rgba(231, 242, 238, 0.10);
  box-shadow: 0px 4px 20px 0px rgba(27, 38, 35, 0.10);
  backdrop-filter: blur(50px);
  padding: 8px 15px;
  font-size: 13pt;
    max-width: 140px;
  cursor: pointer;
  margin-right: 10px; /* Optional: Add some margin between the list item and the button */
}


/* Basic styling */
button {
  background-color: #4caf50; /* Green background */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding around the text */
  font-size: 16px; /* Font size */
  border: none; /* Remove border */
  border-radius: 20px; /* Add rounded corners */
  cursor: pointer; /* Add a cursor pointer on hover */

   border: none;
    color: #E7F2EE;
  font-family: "itc-avant-garde-gothic-pro";
  font-size: 13pt;
  font-weight: 700;
}





input[type="file"] {
  display: none;
}

.sha-ger{
  margin-top: 20px;
  font-size: 20pt;
  padding: 15px 25px;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Hover effect */
.sha-ger:hover {
  background-color: #45a049; /* Darker green background on hover */
  transition: 0.5 ease;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 90%;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;
  min-height: 50px;}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}